[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"
watchPatterns = ["api/**"]

[deploy]
healthcheckPath = "/api/health"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
